<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101709911338-24brl868sab2r7i22gvn8e4ofp3i9ra3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101709911338-24brl868sab2r7i22gvn8e4ofp3i9ra3</string>
	<key>API_KEY</key>
	<string>AIzaSyC5RH1S3NqXTLZVQMo7cj0GTcRqynnkhcA</string>
	<key>GCM_SENDER_ID</key>
	<string>101709911338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikitaAnanev.simple-toDo</string>
	<key>PROJECT_ID</key>
	<string>todo-6d3fc</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-6d3fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101709911338:ios:ec384c2e8d3dd4aae1fa53</string>
</dict>
</plist>